<div class="app-card-container">
	<div class="card">
		<div class="card-no-border">
		<h1>About Me</h1>
	</div>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "profile.jpg", alt: "profile image", class: 'profile-image', width: 300 %>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<p>"I’ve worked construction since high school and even went to college for it. After a few years of studying I took a few jobs in construction and realized that I didn't enjoy construction work.  Waking up each day not know if I had work or knowing where I would work was stressful and the rough motion was hard on my body. I knew that I needed a new career. A friend of mine who was a front end programmer for a school called simply coding accidentally introduced me to programming when I went to visit him. He was teaching his brother the basics of HTML and I was intrigued. Seeing words create something that countless people can use was inspiring. So I bought a cheap laptop and enrolled in UVU’s bachelor program. After 2 years of studying I felt ready to enter the job field. Unfortunately after a lot of work with advisors, counselors, and sending out resumes, I didn’t get a single reply. That's when I decided that I needed to know more. If my resume wasn’t good enough to be noticed for a phone interview, then something had to happen.  I decided to dedicate myself to learning Ruby on Rails and many web programming languages.  I used videos tutorials, and even found excellent tutors to help me learn the subject. I now feel more ready and eager to work."</p>
			</div>
		</div>
	</div>
</div>